@import '../../variables.scss';

.video-card {
  width: 408px;
  background-color: $card-background;
  border-radius: $border-radius;
  position: relative;
  font-family: Arial, sans-serif;

  .video-thumbnail {
    position: relative;

    img {
      width: 100%;
      height: auto;
    }

    .video-duration {
      position: absolute;
      top: 8px;
      left: 8px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 2px 4px;
      border-radius: 3px;
      font-size: 12px;
    }

    .menu-icon {
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
      color: white;
      font-size: 18px;
    }

    .menu {
      position: absolute;
      top: 28px;
      right: 8px;
      background-color: #333;
      color: white;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      z-index: 10;

      img {
        width: 18px;
      }

      .menu-item {
        display:  flex;
        gap: 8px;
        align-items: center;
        padding: 8px 12px;
        cursor: pointer;

        &:hover {
          background-color: #444;
        }
      }
    }
  }

  .video-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 16px;

    .video-title {
      font-weight: normal;
      font-size: 16px;
      color: #ffffff;
    }

    .video-author {
      font-size: 14px;
      color: gray;
    }
  }
}
  